<%- include("partials/header") -%>


  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Booking</h2>
          <ol>
            <li><a href="/index1">Home</a></li>
            <li>Booking</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div>

          <div class="col-lg-8">
            <form action="/booking" method="post" role="form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                Select Movie: <select name="movie" id="movie" placeholder="Movie" style="width: 70%; height: 30px;" required>
                  <option>Let's Watch</option>
                  <option>Hungama 2</option>
                  <option>Hello Charlie</option>
                  <option>Mumbai Saga</option>
                  <option>The Power</option>
                  <option>Shershah</option>
                  <option>Haseen Dillruba</option>
                  <option>Red Notice</option>
                  <option>Cold Case</option>
                  <option>The Last Paradiso</option>
                  <option>Love Aaj Kal 2</option>
                  <option>Kabir Singh</option>
                </select>
              </div>
              <div class="form-group mt-3">
                <input type="date" class="form-control" name="date" id="date" required>
              </div>
              <div class="form-group mt-3">
                Time: <select name="time" id="time" placeholder="Time" required>
                  <option>12 PM- 3 PM</option>
                  <option>3 PM- 6 PM</option>
                  <option>6 PM- 9 PM</option>
                  <option>9 PM- 12 AM</option>
                </select>
              </div>
              <div class="form-group mt-3">
                <br/>Select Seat: <br/><br/>
                Booked- <input type="checkbox" name="Platinum" class="largecheckbox" checked disabled>
                Available-<input type="checkbox" name="Platinum" class="largecheckbox" disabled><br/>
                <br/>Platinum (Rs. 150.00)<br/>
                <input type="checkbox" name="Platinum[]" value="1" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Platinum[]" value="2" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="3" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Platinum[]" value="4" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="5" class="largecheckbox" checked disabled>
                <br/>
                <input type="checkbox" name="Platinum[]" value="6" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Platinum[]" value="7" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="8" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Platinum[]" value="9" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="10" class="largecheckbox">
                <br/>
                <input type="checkbox" name="Platinum[]" value="11" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="12" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Platinum[]" value="13" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="14" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Platinum[]" value="15" class="largecheckbox" checked disabled>
                <br/>
                <input type="checkbox" name="Platinum[]" value="16" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="17" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="18" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Platinum[]" value="19" class="largecheckbox">
                <input type="checkbox" name="Platinum[]" value="20" class="largecheckbox" checked disabled>
                <br/><br/>Gold (Rs. 100.00)<br/>
                <input type="checkbox" name="Gold[]" value="1" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="2" class="largecheckbox">
                <input type="checkbox" name="Gold[]" value="3" class="largecheckbox">
                <input type="checkbox" name="Gold[]" value="4" class="largecheckbox">
                <input type="checkbox" name="Gold[]" value="5" class="largecheckbox" checked disabled>
                <br/>
                <input type="checkbox" name="Gold[]" value="6" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="7" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="8" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="9" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="10" class="largecheckbox">
                <br/>
                <input type="checkbox" name="Gold[]" value="11" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="12" class="largecheckbox">
                <input type="checkbox" name="Gold[]" value="13" class="largecheckbox">
                <input type="checkbox" name="Gold[]" value="14" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="15" class="largecheckbox">
                <br/>
                <input type="checkbox" name="Gold[]" value="16" class="largecheckbox">
                <input type="checkbox" name="Gold[]" value="17" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="18" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Gold[]" value="19" class="largecheckbox">
                <input type="checkbox" name="Gold[]" value="20" class="largecheckbox" checked disabled>
                <br/><br/>Silver (Rs. 75.00)<br/>
                <input type="checkbox" name="Silver[]" value="1" class="largecheckbox">
                <input type="checkbox" name="Silver[]" value="2" class="largecheckbox">
                <input type="checkbox" name="Silver[]" value="3" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Silver[]" value="4" class="largecheckbox">
                <input type="checkbox" name="Silver[]" value="5" class="largecheckbox" checked disabled>
                <br/>
                <input type="checkbox" name="Silver[]" value="6" class="largecheckbox">
                <input type="checkbox" name="Silver[]" value="7" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Silver[]" value="8" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Silver[]" value="9" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Silver[]" value="10" class="largecheckbox">
                <br/>
                <input type="checkbox" name="Silver[]" value="11" class="largecheckbox">
                <input type="checkbox" name="Silver[]" value="12" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Silver[]" value="13" class="largecheckbox">
                <input type="checkbox" name="Silver[]" value="14" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Silver[]" value="15" class="largecheckbox">
                <br/>
                <input type="checkbox" name="Silver[]" value="16" class="largecheckbox">
                <input type="checkbox" name="Silver[]" value="17" class="largecheckbox">
                <input type="checkbox" name="Silver[]" value="18" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Silver[]" value="19" class="largecheckbox" checked disabled>
                <input type="checkbox" name="Silver[]" value="20" class="largecheckbox">
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" class="main-btn mt-55">Book Your Seat</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <%- include("partials/footer") -%>
